# Build artifacts
android/app/src/main/assets/public/assets/
android/.gradle/
android/app/build/
android/build/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.

# Logs
*.log

# Temporary files
*.tmp
*.swp

# IDE
.vscode/
.idea/

# Android keys (Sensitive)
*.keystore
*.jks

# Android user-specific
android/local.properties

# OS
.DS_Store
Thumbs.db

# Local dev database
*.db
*.db-shm
*.db-wal